<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foshan.mapper.UserMapper">
    <resultMap type="com.foshan.entity.User" id="userMapper">
        <id property="id" column="id" />
        <result property="userName" column="userName" />
      	<result property="password" column="password"></result>
    	<!-- <collection property="roles" ofType="com.foshan.entity.Role" autoMapping="true"></collection> -->
    </resultMap> 
    
    <resultMap type="com.foshan.entity.User" id="userAndMaterialsMapper" extends="userMapper">
    	<!-- 包装有问题.. -->
    	<collection property="learningMaterials_list"  ofType="com.foshan.entity.LearningMaterials"  autoMapping="true">
    	</collection>
    </resultMap>
    <resultMap type="com.foshan.entity.User" id="userAndRolesMapper" extends="userMapper">
    	<collection property="roles" ofType="com.foshan.entity.Role" autoMapping="true"></collection>
    </resultMap>
    <select id="findUserAndMaterialsById"  parameterType="java.lang.Integer" resultMap="userAndMaterialsMapper">
   		select u.id,u.userName,l.id,l.fileName from user u,learningMaterials l 
   		<where>
   			u.id=#{id} and u.id=l.uploadUserId
   		</where>
   	</select>
    <insert id="addUser" parameterType="com.foshan.entity.User">
    	insert into user(userName,password) values(#{userName},#{password})
    </insert>
    <select id="findUserByUserName" parameterType="com.foshan.entity.User" resultMap="userMapper">
    	select * from user u where u.userName=#{userName}
    </select>
    <select id="findUserById" parameterType="java.lang.Integer" resultMap="userMapper">
    	select * from user u where u.id=#{id}
    </select>
   	<select id="findUserAndRolesById" parameterType="java.lang.Integer" resultMap="userAndRolesMapper">
   		select * from user u,role r,user_role ur where u.id=#{id} and u.id=ur.userId and r.id=ur.role_id
   	</select>
    <delete id="deleteUserById" parameterType="java.lang.Integer">
    	delete from user where id=#{id}
    </delete>
</mapper>
